/*---------------------------------------------------------------------WELCOME PAGE----------------------------------------------------*/


/*------------NavBar-------------------*/

.topnav {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}

.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: teal;
}

.topnav .bars-icon {
    display: none;
}

.topnav .brand {
    margin-top: 15px;
    margin-left: 15px;
    text-align: left;
    color: teal;
    font-size: 25px;
    font-weight: bolder;
}


/*
.topnav-right {
    float: right;
}
*/

.option-bar {
    display: none;
}

.overlay {
    display: none;
}


/*------------Main Content-------------*/

body {
    margin: 0;
    padding: 0;
}

#header {
    height: 100vh;
    background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.user-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.user-box img {
    border-radius: 50%;
    width: 250px;
    border: 2px solid teal;
}

.user-box h1 {
    color: white;
    font-weight: bold;
    margin: 10px;
}

.scroll-btn {
    bottom: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: 3px solid teal;
    padding: 10px 10px 20px;
    border-radius: 30px;
}

.scroll-bar span {
    border: 3px solid teal;
    font-size: 10px;
    border-radius: 30px;
}

.scroll-bar {
    animation: mover 1s infinite alternate;
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(10px);
    }
}


/*------------Contact Section-------------*/

#contact {
    height: 100vh;
    background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
    background-color: center;
    background-size: cover;
    background-attachment: fixed;
}

.contact-heading {
    color: white;
    margin-bottom: 75px;
}

.contact-links {
    margin: auto;
    width: 35%;
    border: 2.5px solid teal;
    padding: 10px;
    text-align: center;
}


/*------------Contact Section (LINKS)-------------*/


/* ----------To rotate the icons--------
.rotate {
    animation: rotation 3s infinite linear;
    margin-top: 45px;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

*/

.icon {
    margin-top: 45px;
    margin-bottom: 45px;
}

.icon a {
    color: white;
    text-decoration: none;
}

.icon a:hover {
    color: teal;
}

.fa-github {
    color: white;
}

.fa-linkedin {
    color: white;
}

.fa-envelope-square {
    color: white;
}


/*--------------------------------------------------------------ABOUT PAGE--------------------------------------------------------*/

.aboutme-main {
    background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}


/*------------@media query-------------*/

@media screen and (max-width: 600px) {
    .option-bar {
        display: block;
    }
    .overlay {
        display: block;
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.9);
        overflow-y: hidden;
        transition: 0.5s;
    }
    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: white;
        display: block;
        transition: 0.3s;
    }
    .overlay a:hover,
    .overlay a:focus {
        color: teal;
    }
    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    }
}

@media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto;
    }
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media screen and (max-width: 600px) {
    .topnav a {
        display: none;
    }
    .topnav .option-bar {
        float: right;
        display: block;
        color: white;
        margin-top: 10px;
        margin-right: 15px;
    }
    .topnav .option-bar:hover {
        color: teal;
    }
    .user-box img {
        width: 200px;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .icon a span {
        color: white;
        font-size: 10px;
        padding: 5px 0 10px 0;
        display: block;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
    }
    .topnav .brand {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .aboutme-column {
        width: 100%;
        height: 50vh;
    }
}